Repository adamtheturtle/requests-mock-flask: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyproject-fmt-fix

actionlint:
  name: actionlint
  entry: actionlint
  language: python
  pass_filenames: false

shellcheck-docs:
  name: shellcheck-docs
  entry: doccmd --language=shell --language=console --command="shellcheck --shell=bash --exclude=SC1017"
  language: python

shfmt-docs:
  name: shfmt-docs
  entry: doccmd --language=shell --language=console --skip-marker=shfmt --no-pad-file --command="shfmt --write --space-redirects --indent=4"
  language: python

mypy:
  name: mypy
  stages:
  - pre-push
  entry: python -m mypy .
  language: python
  pass_filenames: false

mypy-docs:
  name: mypy-docs
  stages:
  - pre-push
  entry: doccmd --language=python --command="mypy"
  language: python

pyright:
  name: pyright
  stages:
  - pre-push
  entry: python -m pyright .
  language: python
  pass_filenames: false

pyright-docs:
  name: pyright-docs
  stages:
  - pre-push
  entry: doccmd --language=python --command="pyright"
  language: python

vulture:
  name: vulture
  entry: python -m vulture .
  language: python
  pass_filenames: false

vulture-docs:
  name: vulture docs
  entry: doccmd --language=python --command="vulture"
  language: python
  pass_filenames: false

pyroma:
  name: pyroma
  entry: python -m pyroma --min 10 .
  language: python
  pass_filenames: false

ruff-check-fix:
  name: Ruff check fix
  entry: python -m ruff check --fix
  language: python

ruff-check-fix-docs:
  name: Ruff check fix docs
  entry: doccmd --language=python --command="ruff check --fix"
  language: python

ruff-format-fix:
  name: Ruff format
  entry: python -m ruff format
  language: python

ruff-format-fix-docs:
  name: Ruff format docs
  entry: doccmd --language=python --no-pad-file --command="ruff format"
  language: python

doc8:
  name: doc8
  entry: python -m doc8
  language: python

interrogate:
  name: interrogate
  entry: python -m interrogate
  language: python

interrogate-docs:
  name: interrogate docs
  entry: doccmd --language=python --command="interrogate"
  language: python

pyproject-fmt-fix:
  name: pyproject-fmt
  entry: pyproject-fmt
  language: python

fix: use pull_request.user.login instead of github.actor for bot check (fixes adamtheturtle/literalizer#146)
  .github/workflows/dependabot-merge.yml
  zizmor.yml
Due: actionlint

Apply pyproject-fmt 2.20.0 formatting
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Bump doccmd to 2026.3.26.2
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Fix pyrefly type error for headers argument
  src/requests_mock_flask/__init__.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Bump CHANGELOG
  CHANGELOG.rst
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs

Use structural pattern matching for mock backend dispatch
  src/requests_mock_flask/__init__.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Use Callable[..., Any] for mock callback types to satisfy mypy
  src/requests_mock_flask/__init__.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Fix pylint spelling: 'backend' -> 'back end'
  src/requests_mock_flask/__init__.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Use frozen dataclass instead of NamedTuple for _MockCallbacks
  src/requests_mock_flask/__init__.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Deduplicate responses callback registration cases
  src/requests_mock_flask/__init__.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Use structural pattern matching for mock backend dispatch (#1697)
  src/requests_mock_flask/__init__.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

chore: rename deptry pep621_dev_dependency_groups
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Use pytest-beartype-tests plugin for test beartype
  conftest.py
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix

Pin pytest-beartype-tests to git revision (Sybil-safe)
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Pin pytest-beartype-tests to 2026.4.20 on PyPI
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Remove empty [tool.uv] table left after dropping git source override
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Pin pytest-beartype-tests to 2026.4.20 on PyPI (#1702)
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

chore: define uv version once in pre-commit config
  .pre-commit-config.yaml
Due: actionlint

chore: yamlfix pre-commit config (uv anchor formatting)
  .pre-commit-config.yaml
Due: actionlint

chore: define uv version once in pre-commit config (#1707)
  .pre-commit-config.yaml
Due: actionlint

chore: bump uv to 0.11.7 for pre-commit hooks
  .pre-commit-config.yaml
Due: actionlint

chore: bump uv to 0.11.7 for pre-commit hooks (#1708)
  .pre-commit-config.yaml
Due: actionlint

ci: bump astral-sh/setup-uv from v7 to v8.1.0
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
Due: actionlint

Bump mypy dependency to 2.0.0.
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Bump mypy dependency to 2.0.0. (#1722)
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Enable mypy parallel workers in pre-commit
  .pre-commit-config.yaml
Due: actionlint

Use 4 mypy workers in pre-push checks.
  .pre-commit-config.yaml
Due: actionlint

Add strict-kwargs as a local pre-commit hook (dev dependency)
  .pre-commit-config.yaml
  pyproject.toml
Due: actionlint, mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Fix strict-kwargs dev dependency alphabetical order
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Fix malformed dev dependencies list in pyproject.toml
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Bump strict-kwargs to 2026.5.18.post1 and revert Python changes
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Apply yamlfix to pre-commit config
  .pre-commit-config.yaml
Due: actionlint

Add strict-kwargs pre-commit hook in fix mode (#1740)
  .pre-commit-config.yaml
  pyproject.toml
Due: actionlint, mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Bump strict-kwargs and use diff mode
  .pre-commit-config.yaml
  pyproject.toml
Due: actionlint, mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

chore(deps-dev): bump mypy-strict-kwargs to 2026.5.20
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Ban dynamic builtins and typing.cast in lint config.
  pyproject.toml
  src/requests_mock_flask/__init__.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix

Revert refactors; use inline pylint/ruff disables for banned builtins
  src/requests_mock_flask/__init__.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Replace getattr with isinstance in _register_mock error path.
  src/requests_mock_flask/__init__.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Cover unsupported mock object error path
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Cover unsupported mock object error path (#1753)
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Path conditions:
  actionlint: any of: \.(yaml|yml)$
  shellcheck-docs: any of: \.(md|markdown|mdown)$, \.rst$
  shfmt-docs: any of: \.(md|markdown|mdown)$, \.rst$
  mypy: any of: \.py$, \.toml$
  mypy-docs: any of: \.(md|markdown|mdown)$, \.rst$, \.py$, \.toml$
  pyright: any of: \.py$, \.toml$
  pyright-docs: any of: \.(md|markdown|mdown)$, \.rst$, \.py$, \.toml$
  vulture: any of: \.py$
  vulture-docs: any of: \.py$
  pyroma: any of: \.toml$
  ruff-check-fix: any of: \.py$
  ruff-check-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-format-fix: any of: \.py$
  ruff-format-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  doc8: any of: \.rst$
  interrogate: any of: \.py$
  interrogate-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$
