Repository adamtheturtle/requests-mock-flask: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyproject-fmt-fix

Path conditions:
  actionlint: any of: \.(yaml|yml)$
  shellcheck-docs: any of: \.(md|markdown|mdown)$, \.rst$
  shfmt-docs: any of: \.(md|markdown|mdown)$, \.rst$
  mypy: any of: \.py$, \.toml$
  mypy-docs: any of: \.(md|markdown|mdown)$, \.rst$, \.py$, \.toml$
  pyright: any of: \.py$, \.toml$
  pyright-docs: any of: \.(md|markdown|mdown)$, \.rst$, \.py$, \.toml$
  vulture: any of: \.py$
  vulture-docs: any of: \.py$
  pyroma: any of: \.toml$
  ruff-check-fix: any of: \.py$
  ruff-check-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-format-fix: any of: \.py$
  ruff-format-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  doc8: any of: \.rst$
  interrogate: any of: \.py$
  interrogate-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$

Add --example-workers 0 to read-only doccmd hooks
  .pre-commit-config.yaml
Due: actionlint

Update sybil-extras version to 2025.11.19
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Add .prettierrc configuration (#1483)
  .prettierrc
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Bump beartype to 0.22.9
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Bump beartype to 0.22.9 (#1499)
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Add ty to pre-commit
  .pre-commit-config.yaml
  pyproject.toml
Due: actionlint, mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Fix type error for ty
  src/requests_mock_flask/__init__.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Cast in a better way
  src/requests_mock_flask/__init__.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Update sybil-extras version in pyproject.toml
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Fix ty
  src/requests_mock_flask/__init__.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Add Claude Code LSP plugin for Python (pyright)
  .claude/plugins/pyright-lsp/.claude-plugin/plugin.json
  .claude/plugins/pyright-lsp/.lsp.json
Due: none

Add pyrefly type checker
  .pre-commit-config.yaml
  pyproject.toml
Due: actionlint, mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Fix pyrefly
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Add zizmor for GitHub Actions security linting
  .pre-commit-config.yaml
  pyproject.toml
Due: actionlint, mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Add zizmor config and ignore in check-manifest
  pyproject.toml
  zizmor.yml
Due: actionlint, mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Fix zizmor issues in GitHub workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: actionlint

Add zizmor for GitHub Actions security linting (#1519)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  pyproject.toml
  zizmor.yml
Due: actionlint, mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Fix release.yml: remove persist-credentials and suppress artipacked rule
  .github/workflows/release.yml
  zizmor.yml
Due: actionlint

Fix release.yml: remove persist-credentials and suppress artipacked rule (#1521)
  .github/workflows/release.yml
  zizmor.yml
Due: actionlint

Switch from pre-commit to prek
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  docs/source/contributing.rst
  pyproject.toml
Due: actionlint, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyroma, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix

Switch from pre-commit to prek (#1524)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  docs/source/contributing.rst
  pyproject.toml
Due: actionlint, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyroma, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix

Make prettier more compatible with yamlfix
  .prettierrc
Due: none

Fix prettier config
  .prettierrc
Due: none

Make zizmor collection strict
  .pre-commit-config.yaml
Due: actionlint

Fix zizmor warning in release workflow
  .github/workflows/release.yml
Due: actionlint

Fix zizmor warning in release workflow (#1528)
  .github/workflows/release.yml
Due: actionlint

Fix block scalar newline interpretation in release workflow
  .github/workflows/release.yml
Due: actionlint

Fix block scalar newline interpretation in release workflow (#1529)
  .github/workflows/release.yml
Due: actionlint

Use literal block scalar for changelog replace string
  .github/workflows/release.yml
Due: actionlint

Use literal block scalar for changelog replace string (#1530)
  .github/workflows/release.yml
Due: actionlint

Add failing test for greedy regex bug with multiple route variables
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Fix greedy regex bug with multiple route variables
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

neaten tests
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Add changelog entry for greedy regex fix
  CHANGELOG.rst
  tests/test_requests_mock_flask.py
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs

Document workaround
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Re-format for clarity
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Remove unnecessary documentation
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Use catch-all route instead of allow_net_connect=False for httpretty
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate
