Repository adamtheturtle/requests-mock-flask: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyproject-fmt-fix

Path conditions:
  actionlint: any of: \.(yaml|yml)$
  shellcheck-docs: any of: \.(md|markdown|mdown)$, \.rst$
  shfmt-docs: any of: \.(md|markdown|mdown)$, \.rst$
  mypy: any of: \.py$, \.toml$
  mypy-docs: any of: \.(md|markdown|mdown)$, \.rst$, \.py$, \.toml$
  pyright: any of: \.py$, \.toml$
  pyright-docs: any of: \.(md|markdown|mdown)$, \.rst$, \.py$, \.toml$
  vulture: any of: \.py$
  vulture-docs: any of: \.py$
  pyroma: any of: \.toml$
  ruff-check-fix: any of: \.py$
  ruff-check-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-format-fix: any of: \.py$
  ruff-format-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  doc8: any of: \.rst$
  interrogate: any of: \.py$
  interrogate-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$

Split lint into separate workflow
  .github/workflows/lint.yml
Due: actionlint

Split lint into separate workflow (#1602)
  .github/workflows/lint.yml
Due: actionlint

Add UV_PYTHON to test step in CI workflow
  .github/workflows/ci.yml
Due: actionlint

Add UV_PYTHON to test step in CI workflow (#1603)
  .github/workflows/ci.yml
Due: actionlint

Add pyrefly non-exhaustive match as error
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Enable coverage report.show_missing
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Fix TOML section spacing for coverage setting
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Enable coverage report.show_missing (#1605)
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Add support for respx (httpx mock library)
  CHANGELOG.rst
  README.rst
  docs/source/index.rst
  pyproject.toml
  spelling_private_dict.txt
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
  tests/test_usage_patterns.py
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyproject-fmt-fix

Fix CI: increase pylint McCabe limit to 11 and add 'backends' to spelling dict
  pyproject.toml
  spelling_private_dict.txt
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Integrate respx into existing parametrized tests
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Fix mypy strict-kwargs and type assignment errors
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Extract _get_mock_obj helper in tests
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Extract _get_mock_obj helper in tests (#1607)
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Remove duplicate _get_mock_obj from merge
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Extract _do_get and _do_post test helpers
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Extract _do_get and _do_post test helpers (#1609)
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Use per-route registration for respx instead of catch-all
  README.rst
  docs/source/index.rst
  pyproject.toml
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
  tests/test_usage_patterns.py
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyproject-fmt-fix

Add timeout to httpx calls in _do_get and _do_post helpers
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Use _do_get and _do_post helpers in more tests (#1608)
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Use _do_get and _do_post helpers in more tests (#1608) (#1610)
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Derive _MOCK_*_NO_HTTPRETTY constants programmatically
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Derive _MOCK_*_NO_HTTPRETTY constants programmatically (#1611)
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Add support for respx (httpx mock library) (#1608)
  CHANGELOG.rst
  README.rst
  docs/source/index.rst
  pyproject.toml
  spelling_private_dict.txt
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
  tests/test_usage_patterns.py
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyproject-fmt-fix

Bump CHANGELOG
  CHANGELOG.rst
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs

Use native pytest TOML configuration
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Use native pytest TOML configuration (#1620)
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Use keyword-only parameters in tests
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Use keyword-only parameters in tests (#1621)
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Bump doccmd to 2026.3.1
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

fix: update pylint config format for pyproject-fmt compatibility
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

fix: update pylint config format for pyproject-fmt compatibility (#1639)
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Fix zizmor lint: upgrade to 1.23.1, disable superfluous-actions and secrets-outside-env
  zizmor.yml
Due: actionlint

Remove secrets-outside-env disable, add environment to jobs that use secrets
  zizmor.yml
Due: actionlint

Fix zizmor lint (#1644)
  zizmor.yml
Due: actionlint

Remove unused dependabot/fetch-metadata step
  .github/workflows/dependabot-merge.yml
Due: actionlint

Move release and tag version into env vars to prevent template injection
  .github/workflows/release.yml
Due: actionlint

Enable template-injection rule in zizmor config
  zizmor.yml
Due: actionlint

Move release and tag version into env vars to prevent template injection (#1651)
  .github/workflows/release.yml
  zizmor.yml
Due: actionlint
