Repository adamtheturtle/requests-mock-flask: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyproject-fmt-fix

actionlint:
  name: actionlint
  entry: actionlint
  language: python
  pass_filenames: false

shellcheck-docs:
  name: shellcheck-docs
  entry: doccmd --language=shell --language=console --command="shellcheck --shell=bash --exclude=SC1017"
  language: python

shfmt-docs:
  name: shfmt-docs
  entry: doccmd --language=shell --language=console --skip-marker=shfmt --no-pad-file --command="shfmt --write --space-redirects --indent=4"
  language: python

mypy:
  name: mypy
  stages:
  - pre-push
  entry: python -m mypy .
  language: python
  pass_filenames: false

mypy-docs:
  name: mypy-docs
  stages:
  - pre-push
  entry: doccmd --language=python --command="mypy"
  language: python

pyright:
  name: pyright
  stages:
  - pre-push
  entry: python -m pyright .
  language: python
  pass_filenames: false

pyright-docs:
  name: pyright-docs
  stages:
  - pre-push
  entry: doccmd --language=python --command="pyright"
  language: python

vulture:
  name: vulture
  entry: python -m vulture .
  language: python
  pass_filenames: false

vulture-docs:
  name: vulture docs
  entry: doccmd --language=python --command="vulture"
  language: python
  pass_filenames: false

pyroma:
  name: pyroma
  entry: python -m pyroma --min 10 .
  language: python
  pass_filenames: false

ruff-check-fix:
  name: Ruff check fix
  entry: python -m ruff check --fix
  language: python

ruff-check-fix-docs:
  name: Ruff check fix docs
  entry: doccmd --language=python --command="ruff check --fix"
  language: python

ruff-format-fix:
  name: Ruff format
  entry: python -m ruff format
  language: python

ruff-format-fix-docs:
  name: Ruff format docs
  entry: doccmd --language=python --no-pad-file --command="ruff format"
  language: python

doc8:
  name: doc8
  entry: python -m doc8
  language: python

interrogate:
  name: interrogate
  entry: python -m interrogate
  language: python

interrogate-docs:
  name: interrogate docs
  entry: doccmd --language=python --command="interrogate"
  language: python

pyproject-fmt-fix:
  name: pyproject-fmt
  entry: pyproject-fmt
  language: python

Do not run doccmd checks against toml files
  .pre-commit-config.yaml
Due: actionlint

Switch to mypy faster cache and pin uv to avoid conflict errors in pre-commit
  .pre-commit-config.yaml
  pyproject.toml
Due: actionlint, mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Use new follow_untyped_imports mypy setting
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Only use `assert` in tests
  docs/source/conf.py
  pyproject.toml
  src/requests_mock_flask/__init__.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix

Do not use new mypy setting yet
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Allow asserts in docs
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Use new mypy plugin for strict kwargs
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Use one more kwarg
  docs/source/conf.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Use more kwargs
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Use more kwargs in docs
  README.rst
  docs/source/index.rst
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs

Disable pyright recognising type: ignore comments
  pyproject.toml
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
  tests/test_usage_patterns.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix

Add more ignores in docs
  README.rst
  docs/source/index.rst
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs

Start (failing) of using follow_untyped_imports
  README.rst
  docs/source/index.rst
  pyproject.toml
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
  tests/test_usage_patterns.py
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyproject-fmt-fix

Get mypy to pass
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
  tests/test_usage_patterns.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Get pyright to pass
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Fix mypy-docs
  README.rst
  docs/source/index.rst
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs

Remove asserts for type narrowing
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Neaten tests by using HTTPStatus
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Use ternary operator for neatness
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Verify types
  .pre-commit-config.yaml
Due: actionlint

Update pyproject.toml
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Progress towards type safety
  pyproject.toml
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix

Ignore pyright errors
  pyproject.toml
  src/requests_mock_flask/__init__.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix

Fix tests
  CHANGELOG.rst
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs

Try to fix pylint spelling check
  docs/source/conf.py
  spelling_private_dict.txt
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Fix coverage
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Set release fetch-depth to 0 with a comment why
  .github/workflows/release.yml
Due: actionlint

Git ignore DS_Store files
  .gitignore
Due: none

Add sphinx-lint
  .pre-commit-config.yaml
  pyproject.toml
Due: actionlint, mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Add sphinx-lint
  .pre-commit-config.yaml
Due: actionlint

Use f-strings in more places for neatness
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Bump CHANGELOG
  CHANGELOG.rst
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs

Bump uv in pre-commit hooks to 0.5.20
  .pre-commit-config.yaml
Due: actionlint

Use new format for pylint-per-file-ignores
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Work around orjson breakage
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Remove workaround for orjson issue now fixed
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Use Python 3.13 for RTD
  readthedocs.yaml
Due: actionlint

Path conditions:
  actionlint: any of: \.(yaml|yml)$
  shellcheck-docs: any of: \.(md|markdown|mdown)$, \.rst$
  shfmt-docs: any of: \.(md|markdown|mdown)$, \.rst$
  mypy: any of: \.py$, \.toml$
  mypy-docs: any of: \.(md|markdown|mdown)$, \.rst$, \.py$, \.toml$
  pyright: any of: \.py$, \.toml$
  pyright-docs: any of: \.(md|markdown|mdown)$, \.rst$, \.py$, \.toml$
  vulture: any of: \.py$
  vulture-docs: any of: \.py$
  pyroma: any of: \.toml$
  ruff-check-fix: any of: \.py$
  ruff-check-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-format-fix: any of: \.py$
  ruff-format-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  doc8: any of: \.rst$
  interrogate: any of: \.py$
  interrogate-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$
