Repository adamtheturtle/requests-mock-flask: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyproject-fmt-fix

Path conditions:
  actionlint: any of: \.(yaml|yml)$
  shellcheck-docs: any of: \.(md|markdown|mdown)$, \.rst$
  shfmt-docs: any of: \.(md|markdown|mdown)$, \.rst$
  mypy: any of: \.py$, \.toml$
  mypy-docs: any of: \.(md|markdown|mdown)$, \.rst$, \.py$, \.toml$
  pyright: any of: \.py$, \.toml$
  pyright-docs: any of: \.(md|markdown|mdown)$, \.rst$, \.py$, \.toml$
  vulture: any of: \.py$
  vulture-docs: any of: \.py$
  pyroma: any of: \.toml$
  ruff-check-fix: any of: \.py$
  ruff-check-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-format-fix: any of: \.py$
  ruff-format-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  doc8: any of: \.rst$
  interrogate: any of: \.py$
  interrogate-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$

Update pyproject.toml
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Add required sphinx.configuration to readthedocs.yaml
  readthedocs.yaml
Due: actionlint

Remove unnecessary strategy from release.yml
  .github/workflows/release.yml
Due: actionlint

Make sure GitHub releases are marked as latest
  .github/workflows/release.yml
Due: actionlint

Fix release parsing in conf.py
  docs/source/conf.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Error in release process if trying to commit changes and there are none
  .github/workflows/release.yml
Due: actionlint

Enable the uv cache in CI
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: actionlint

Remove unused version setting in conf.py
  docs/source/conf.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Use sphinx-pyproject to remove duplication
  docs/source/conf.py
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix

Switch from ReadTheDocs to GitHub Pages
  .github/workflows/publish-site.yml
  README.rst
  pyproject.toml
  readthedocs.yaml
Due: actionlint, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyroma, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix

Add documentation URL to PyPI
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Bump uv in pre-commit
  .pre-commit-config.yaml
Due: actionlint

Update sybil-extras to version 2025.3.6
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Make it easier to change the build matrix while still keeping builds required
  .github/workflows/ci.yml
Due: actionlint

Bump sybil-extras
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Update sybil-extras to version 2025.4.3
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Update sybil-extras to version 2025.4.7
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Remove now-unnecessary wheel build dependency
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Use new way of specifying license
  LICENSE
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Run pre-commit hooks on only one stage each
  .pre-commit-config.yaml
Due: actionlint

Bump pylint per-file-ignores
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Make pylint spelling dependency explicit
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Remove Codecov - it is flaky and doesn't provide much value
  .github/workflows/ci.yml
  README.rst
  pyproject.toml
Due: actionlint, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyroma, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix

Remove docs/Makefile and update pre-commit to use sphinx-build directly
  .pre-commit-config.yaml
  docs/Makefile
Due: actionlint

Update base Makefile to use sphinx-build directly
  Makefile
Due: none

Remove bash -c wrapper from docs hook
  .pre-commit-config.yaml
Due: actionlint

Add -W flag to docs hook for consistent error handling
  .pre-commit-config.yaml
Due: actionlint

Add MIT LICENSE file
  LICENSE
Due: none

Add .prettierrc configuration
  .prettierrc
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Remove Makefile and replace make commands with direct equivalents
  Makefile
  docs/source/contributing.rst
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs

Bump uv to 0.9.5
  .pre-commit-config.yaml
Due: actionlint

Bump uv to 0.9.5 (#1448)
  .pre-commit-config.yaml
Due: actionlint

Add view and edit buttons to Sphinx docs
  docs/source/conf.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Configure Furo top-of-page buttons with repository details
  docs/source/conf.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Add --no-write-to-file flag for read-only doccmd commands
  .pre-commit-config.yaml
Due: actionlint

Update doccmd and sybil-extras versions
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix
