Repository adamtheturtle/requests-mock-flask: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyproject-fmt-fix

Path conditions:
  actionlint: any of: \.(yaml|yml)$
  shellcheck-docs: any of: \.(md|markdown|mdown)$, \.rst$
  shfmt-docs: any of: \.(md|markdown|mdown)$, \.rst$
  mypy: any of: \.py$, \.toml$
  mypy-docs: any of: \.(md|markdown|mdown)$, \.rst$, \.py$, \.toml$
  pyright: any of: \.py$, \.toml$
  pyright-docs: any of: \.(md|markdown|mdown)$, \.rst$, \.py$, \.toml$
  vulture: any of: \.py$
  vulture-docs: any of: \.py$
  pyroma: any of: \.toml$
  ruff-check-fix: any of: \.py$
  ruff-check-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-format-fix: any of: \.py$
  ruff-format-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  doc8: any of: \.rst$
  interrogate: any of: \.py$
  interrogate-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$

Drive changelog releases from towncrier
  .github/workflows/release.yml
  CHANGELOG.rst
  docs/source/conf.py
  docs/source/index.rst
  docs/source/unreleased.rst
  docs/towncrier_template.rst.jinja
  newsfragments/.gitkeep
  pyproject.toml
Due: actionlint, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyproject-fmt-fix

Add towncrier to release extra
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Make useless Pylint suppressions fail lint
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Apply pyproject-fmt 2.23.0 formatting changes.
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Fix pre-commit hook for strict-kwargs 2026.6.4 CLI change
  .pre-commit-config.yaml
Due: actionlint

fix: prevent HTTPretty crash for nonstandard Flask status codes (closes #1844)
  src/requests_mock_flask/__init__.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

fix: remove universal wheel tag (project requires Python 3.12+)
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

fix: remove universal wheel tag to stop Python 2 deprecation warning (#1853)
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

fix: Preserve binary response bodies with requests-mock (#1829)
  newsfragments/1829.change.rst
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs

fix: Forward unsupported methods so Flask can return 405 responses (#1834)
  newsfragments/1834.change.rst
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs

fix: Preserve duplicate request cookies with the same name (#1839)
  newsfragments/1839.change.rst
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs

fix: Declare Flask as a runtime dependency (#1849)
  newsfragments/1849.change.rst
  pyproject.toml
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyroma, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix

fix: Anchor route matchers so path prefixes remain unmatched (#1832)
  newsfragments/1832.change.rst
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs

fix: Parse custom converter arguments without truncating at quoted greater-than signs (#1851)
  newsfragments/1851.change.rst
  pyproject.toml
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyproject-fmt-fix

fix: resolve CI lint failures
  src/requests_mock_flask/__init__.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

fix: address CI feedback
  newsfragments/1851.change.rst
  src/requests_mock_flask/__init__.py
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs

fix: Preserve binary response bodies with requests-mock (#1829) (#1854)
  newsfragments/1829.change.rst
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs

fix: Preserve duplicate request cookies with the same name (#1839) (#1859)
  newsfragments/1839.change.rst
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs

Simplify route pattern construction
  src/requests_mock_flask/__init__.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

fix: Preserve valueless cookie tokens in forwarded requests (#1840)
  newsfragments/1840.change.rst
  tests/test_requests_mock_flask.py
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs

fix: Preserve request host and scheme across mock backends (#1830)
  newsfragments/1830.change.rst
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs

Fix CI lint failure
  newsfragments/1832.change.rst
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs

Use types-httpretty
  newsfragments/types-httpretty.change.rst
  pyproject.toml
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
  tests/test_usage_patterns.py
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyproject-fmt-fix

Remove stale HTTPretty type ignores
  README.rst
  docs/source/index.rst
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs

Use types-httpretty (#1876)
  README.rst
  docs/source/index.rst
  newsfragments/types-httpretty.change.rst
  pyproject.toml
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
  tests/test_usage_patterns.py
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyproject-fmt-fix

fix: Parse custom converter arguments without truncating at quoted greater-than signs (#1875)
  newsfragments/1851.change.rst
  pyproject.toml
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyproject-fmt-fix

fix: Preserve valueless cookie tokens in forwarded requests (#1840) (#1862)
  newsfragments/1840.change.rst
  tests/test_requests_mock_flask.py
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs

fix: Forward unsupported methods so Flask can return 405 responses (#1834) (#1856)
  newsfragments/1834.change.rst
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs

fix: Preserve request host and scheme across mock backends (#1830) (#1858)
  newsfragments/1830.change.rst
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs

fix: Anchor route matchers so path prefixes remain unmatched (#1866)
  newsfragments/1832.change.rst
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs

fix: remove unnecessary header type suppressions
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

fix: Preserve repeated response headers across mock backends (#1831)
  newsfragments/1831.change.rst
  pyproject.toml
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyproject-fmt-fix

fix: Preserve repeated response headers across mock backends (#1874)
  newsfragments/1831.change.rst
  pyproject.toml
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyproject-fmt-fix

fix: Do not crash when Werkzeug accepts a cookie name rejected by SimpleCookie (#1841)
  newsfragments/1841.change.rst
  tests/test_requests_mock_flask.py
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs

fix: address CI feedback
  newsfragments/1841.change.rst
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs

Integrate illegal cookie regression test
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

fix: Normalize case-insensitive URL components in base_url (#1838)
  newsfragments/1838.change.rst
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs

fix: address CI feedback
  src/requests_mock_flask/__init__.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate
