Repository adamtheturtle/requests-mock-flask: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyproject-fmt-fix

Path conditions:
  actionlint: any of: \.(yaml|yml)$
  shellcheck-docs: any of: \.(md|markdown|mdown)$, \.rst$
  shfmt-docs: any of: \.(md|markdown|mdown)$, \.rst$
  mypy: any of: \.py$, \.toml$
  mypy-docs: any of: \.(md|markdown|mdown)$, \.rst$, \.py$, \.toml$
  pyright: any of: \.py$, \.toml$
  pyright-docs: any of: \.(md|markdown|mdown)$, \.rst$, \.py$, \.toml$
  vulture: any of: \.py$
  vulture-docs: any of: \.py$
  pyroma: any of: \.toml$
  ruff-check-fix: any of: \.py$
  ruff-check-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-format-fix: any of: \.py$
  ruff-format-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  doc8: any of: \.rst$
  interrogate: any of: \.py$
  interrogate-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$

Switch some hooks to use uv
  .pre-commit-config.yaml
Due: actionlint

Simplify pre-commit docs setup
  .pre-commit-config.yaml
Due: actionlint

Make it possible to create docs without activating virtualenv
  docs/Makefile
Due: none

Add uv dependency in more places
  .pre-commit-config.yaml
Due: actionlint

Use Sphinx feature to simplify setting copyright
  docs/source/conf.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Pin build and check-wheel-contents
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Use uv instead of 'build' for building
  .github/workflows/release.yml
Due: actionlint

Use uv instead of 'build' for building
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Use environment variables to remove duplication in uv commands
  .github/workflows/ci.yml
Due: actionlint

Update release process to support >= 10 releases in a day
  .github/workflows/release.yml
Due: actionlint

Fix running actionlint without activated environment
  .pre-commit-config.yaml
Due: actionlint

Format some yaml files
  .github/dependabot.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: actionlint

Add more pre-commit hooks
  .checkmake-config.ini
  .pre-commit-config.yaml
  .yamlfmt
  pyproject.toml
Due: actionlint, mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Configure docformatter
  .pre-commit-config.yaml
  pyproject.toml
Due: actionlint, mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Update pre-commit.ci ignore list
  .pre-commit-config.yaml
Due: actionlint

Fix hook name
  .pre-commit-config.yaml
Due: actionlint

Fix dependency name
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Fix dependencies sort order
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Do not expect new config files in manifest
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Remove checkmake - it is flaky on Windows
  .checkmake-config.ini
  .pre-commit-config.yaml
  pyproject.toml
Due: actionlint, mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Remove yamlfmt config
  .yamlfmt
Due: none

Switch to yamlfix
  .pre-commit-config.yaml
  pyproject.toml
Due: actionlint, mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Add Windows support
  .gitattributes
  .github/workflows/ci.yml
  pyproject.toml
Due: actionlint, mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Add support for Python 3.13
  .github/workflows/ci.yml
  .github/workflows/release.yml
  pyproject.toml
Due: actionlint, mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Move shellcheck settings to rc file
  .pre-commit-config.yaml
Due: actionlint

Bump doccmd
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Remove doc8 ignore which is no longer needed
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Configure VSCode to run tests in its UI
  .vscode/settings.json
Due: none

Move mypy file definitions to pyproject.toml
  .pre-commit-config.yaml
  pyproject.toml
Due: actionlint, mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

No need to give directory to check-manifest
  .pre-commit-config.yaml
Due: actionlint

Fix the version in Sphinx to be the last released version
  docs/source/conf.py
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix

Update pyproject.toml
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Change use of sybil-extras to use new version
  conftest.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Remove unnecessary build dependency - pip
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Remove unnecessary "pip" build requirement
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Update to handle new werkzeug type hints
  src/requests_mock_flask/__init__.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate
