Repository adamtheturtle/requests-mock-flask: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyproject-fmt-fix

actionlint:
  name: actionlint
  entry: actionlint
  language: python
  pass_filenames: false

shellcheck-docs:
  name: shellcheck-docs
  entry: doccmd --language=shell --language=console --command="shellcheck --shell=bash --exclude=SC1017"
  language: python

shfmt-docs:
  name: shfmt-docs
  entry: doccmd --language=shell --language=console --skip-marker=shfmt --no-pad-file --command="shfmt --write --space-redirects --indent=4"
  language: python

mypy:
  name: mypy
  stages:
  - pre-push
  entry: python -m mypy .
  language: python
  pass_filenames: false

mypy-docs:
  name: mypy-docs
  stages:
  - pre-push
  entry: doccmd --language=python --command="mypy"
  language: python

pyright:
  name: pyright
  stages:
  - pre-push
  entry: python -m pyright .
  language: python
  pass_filenames: false

pyright-docs:
  name: pyright-docs
  stages:
  - pre-push
  entry: doccmd --language=python --command="pyright"
  language: python

vulture:
  name: vulture
  entry: python -m vulture .
  language: python
  pass_filenames: false

vulture-docs:
  name: vulture docs
  entry: doccmd --language=python --command="vulture"
  language: python
  pass_filenames: false

pyroma:
  name: pyroma
  entry: python -m pyroma --min 10 .
  language: python
  pass_filenames: false

ruff-check-fix:
  name: Ruff check fix
  entry: python -m ruff check --fix
  language: python

ruff-check-fix-docs:
  name: Ruff check fix docs
  entry: doccmd --language=python --command="ruff check --fix"
  language: python

ruff-format-fix:
  name: Ruff format
  entry: python -m ruff format
  language: python

ruff-format-fix-docs:
  name: Ruff format docs
  entry: doccmd --language=python --no-pad-file --command="ruff format"
  language: python

doc8:
  name: doc8
  entry: python -m doc8
  language: python

interrogate:
  name: interrogate
  entry: python -m interrogate
  language: python

interrogate-docs:
  name: interrogate docs
  entry: doccmd --language=python --command="interrogate"
  language: python

pyproject-fmt-fix:
  name: pyproject-fmt
  entry: pyproject-fmt
  language: python

Avoid spellchecker false positive
  src/requests_mock_flask/__init__.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Format streaming body helpers
  src/requests_mock_flask/__init__.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Cover readable non-iterable body
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Preserve non-iterable streaming bodies
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Type readable streaming bodies explicitly
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Support readable bodies without type suppressions
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Test file-like bodies through public API
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Normalize readable bodies without suppressions
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Format rebased host rule annotation
  src/requests_mock_flask/__init__.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Handle buffer request bodies
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

fix: Normalize internationalized base_url hostnames to IDNA (#1847)
  newsfragments/1847.change.rst
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs

fix: address CI feedback
  newsfragments/1847.change.rst
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs

fix: resolve CI lint failures
  src/requests_mock_flask/__init__.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Test IDNA normalization through public API
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Cover IDNA URL normalization branches
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Fix IDNA test parameterization
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Use spellchecker-approved wording
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Preserve IPv6 base URL hosts
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Handle IDNA host matching edge cases
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Cover percent-encoded IDNA hosts
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Rebuild IDNA host and port explicitly
  src/requests_mock_flask/__init__.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

fix: Support iterable streaming request bodies with requests backends (#1872)
  newsfragments/1842.change.rst
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs

fix: Normalize internationalized base_url hostnames to IDNA (#1864)
  newsfragments/1847.change.rst
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs

fix: Preserve custom HTTP reason phrases from Flask responses (#1868)
  newsfragments/1843.change.rst
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs

fix: Percent-encode non-ASCII static route paths when registering mocks (#1836)
  newsfragments/1836.change.rst
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs

Normalize Unicode paths for WSGI transport
  src/requests_mock_flask/__init__.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Call Flask WSGI app with keywords
  src/requests_mock_flask/__init__.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Cover literal percent sequences in routes
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Use standard-library WSGI types
  src/requests_mock_flask/__init__.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

fix: Percent-encode non-ASCII static route paths when registering mocks (#1865)
  newsfragments/1836.change.rst
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs

Preserve base URL path prefixes
  newsfragments/1833.change.rst
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs

Preserve base URL path prefixes (#1885)
  newsfragments/1833.change.rst
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs

Ignore Ruff copyright notice rule
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Run shfmt through uv
  .pre-commit-config.yaml
Due: actionlint

Run shfmt through uv (#1894)
  .pre-commit-config.yaml
Due: actionlint

Use prek action with autofix.ci (#1895)
  .github/dependabot.yml
  .github/workflows/autofix.yml
  .github/workflows/lint.yml
  .pre-commit-config.yaml
Due: actionlint

Bump no-defaults to v1.0.1
  .pre-commit-config.yaml
Due: actionlint

Add no-defaults linting
  .pre-commit-config.yaml
  pyproject.toml
  tests/test_requests_mock_flask.py
Due: actionlint, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix

Path conditions:
  actionlint: any of: \.(yaml|yml)$
  shellcheck-docs: any of: \.(md|markdown|mdown)$, \.rst$
  shfmt-docs: any of: \.(md|markdown|mdown)$, \.rst$
  mypy: any of: \.py$, \.toml$
  mypy-docs: any of: \.(md|markdown|mdown)$, \.rst$, \.py$, \.toml$
  pyright: any of: \.py$, \.toml$
  pyright-docs: any of: \.(md|markdown|mdown)$, \.rst$, \.py$, \.toml$
  vulture: any of: \.py$
  vulture-docs: any of: \.py$
  pyroma: any of: \.toml$
  ruff-check-fix: any of: \.py$
  ruff-check-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-format-fix: any of: \.py$
  ruff-format-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  doc8: any of: \.rst$
  interrogate: any of: \.py$
  interrogate-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$
