Repository adamtheturtle/requests-mock-flask: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyproject-fmt-fix

actionlint:
  name: actionlint
  entry: actionlint
  language: python
  pass_filenames: false

shellcheck-docs:
  name: shellcheck-docs
  entry: doccmd --language=shell --language=console --command="shellcheck --shell=bash --exclude=SC1017"
  language: python

shfmt-docs:
  name: shfmt-docs
  entry: doccmd --language=shell --language=console --skip-marker=shfmt --no-pad-file --command="shfmt --write --space-redirects --indent=4"
  language: python

mypy:
  name: mypy
  stages:
  - pre-push
  entry: python -m mypy .
  language: python
  pass_filenames: false

mypy-docs:
  name: mypy-docs
  stages:
  - pre-push
  entry: doccmd --language=python --command="mypy"
  language: python

pyright:
  name: pyright
  stages:
  - pre-push
  entry: python -m pyright .
  language: python
  pass_filenames: false

pyright-docs:
  name: pyright-docs
  stages:
  - pre-push
  entry: doccmd --language=python --command="pyright"
  language: python

vulture:
  name: vulture
  entry: python -m vulture .
  language: python
  pass_filenames: false

vulture-docs:
  name: vulture docs
  entry: doccmd --language=python --command="vulture"
  language: python
  pass_filenames: false

pyroma:
  name: pyroma
  entry: python -m pyroma --min 10 .
  language: python
  pass_filenames: false

ruff-check-fix:
  name: Ruff check fix
  entry: python -m ruff check --fix
  language: python

ruff-check-fix-docs:
  name: Ruff check fix docs
  entry: doccmd --language=python --command="ruff check --fix"
  language: python

ruff-format-fix:
  name: Ruff format
  entry: python -m ruff format
  language: python

ruff-format-fix-docs:
  name: Ruff format docs
  entry: doccmd --language=python --no-pad-file --command="ruff format"
  language: python

doc8:
  name: doc8
  entry: python -m doc8
  language: python

interrogate:
  name: interrogate
  entry: python -m interrogate
  language: python

interrogate-docs:
  name: interrogate docs
  entry: doccmd --language=python --command="interrogate"
  language: python

pyproject-fmt-fix:
  name: pyproject-fmt
  entry: pyproject-fmt
  language: python

Organize test functions into files by behavior
  pyproject.toml
  tests/test_usage_patterns.py
  tests/usage/__init__.py
  tests/usage/helpers.py
  tests/usage/test_httpretty.py
  tests/usage/test_httpx2.py
  tests/usage/test_requests_mock.py
  tests/usage/test_responses.py
  tests/usage/test_respx.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix

Replace generic test helpers with focused modules
  tests/usage/constants.py
  tests/usage/test_httpretty.py
  tests/usage/test_requests_mock.py
  tests/usage/test_responses.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Use module-level test functions (#2031)
  pyproject.toml
  tests/test_usage_patterns.py
  tests/usage/__init__.py
  tests/usage/constants.py
  tests/usage/test_httpretty.py
  tests/usage/test_httpx2.py
  tests/usage/test_requests_mock.py
  tests/usage/test_responses.py
  tests/usage/test_respx.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix

Allow cancelled completion jobs to stop
  .github/workflows/ci.yml
  .github/workflows/lint.yml
Due: actionlint

Bump CHANGELOG
  docs/source/changelog/2026.10.09.md
  newsfragments/+native-markdown.change.md
  newsfragments/1973.change.md
  newsfragments/1974.change.md
  newsfragments/1978.change.md
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, interrogate-docs

Run validation workflows for stacked pull requests
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/publish-site.yml
  newsfragments/+5515178b.change.md
Due: actionlint, shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, interrogate-docs

Use released Beartype 0.23.0
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Show tracebacks for Mypy crashes
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Generate release notes with semantic line breaks
  .github/towncrier_template.md.jinja
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Format release notes with Snapper after Towncrier
  .github/towncrier_template.md.jinja
  .github/workflows/release.yml
  pyproject.toml
Due: actionlint, mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Run validation workflows for stacked pull requests (#2041)
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/publish-site.yml
  newsfragments/+5515178b.change.md
Due: actionlint, shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, interrogate-docs

Path conditions:
  actionlint: any of: \.(yaml|yml)$
  shellcheck-docs: any of: \.(md|markdown|mdown)$, \.rst$
  shfmt-docs: any of: \.(md|markdown|mdown)$, \.rst$
  mypy: any of: \.py$, \.toml$
  mypy-docs: any of: \.(md|markdown|mdown)$, \.rst$, \.py$, \.toml$
  pyright: any of: \.py$, \.toml$
  pyright-docs: any of: \.(md|markdown|mdown)$, \.rst$, \.py$, \.toml$
  vulture: any of: \.py$
  vulture-docs: any of: \.py$
  pyroma: any of: \.toml$
  ruff-check-fix: any of: \.py$
  ruff-check-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-format-fix: any of: \.py$
  ruff-format-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  doc8: any of: \.rst$
  interrogate: any of: \.py$
  interrogate-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$
