Repository adamtheturtle/requests-mock-flask: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyproject-fmt-fix

Path conditions:
  actionlint: any of: \.(yaml|yml)$
  shellcheck-docs: any of: \.(md|markdown|mdown)$, \.rst$
  shfmt-docs: any of: \.(md|markdown|mdown)$, \.rst$
  mypy: any of: \.py$, \.toml$
  mypy-docs: any of: \.(md|markdown|mdown)$, \.rst$, \.py$, \.toml$
  pyright: any of: \.py$, \.toml$
  pyright-docs: any of: \.(md|markdown|mdown)$, \.rst$, \.py$, \.toml$
  vulture: any of: \.py$
  vulture-docs: any of: \.py$
  pyroma: any of: \.toml$
  ruff-check-fix: any of: \.py$
  ruff-check-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-format-fix: any of: \.py$
  ruff-format-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  doc8: any of: \.rst$
  interrogate: any of: \.py$
  interrogate-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$

Fix base URL normalization lint
  src/requests_mock_flask/__init__.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

fix: Honor part_isolating=False for custom Flask converters (#1837)
  newsfragments/1837.change.rst
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs

fix: address CI feedback
  newsfragments/1837.change.rst
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs

Use typed converter import
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Format response close test
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

fix: Close forwarded Flask responses so call_on_close callbacks run (#1848)
  newsfragments/1848.change.rst
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs

fix: Honor part_isolating=False for custom Flask converters (#1871)
  newsfragments/1837.change.rst
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs

fix: Close forwarded Flask responses so call_on_close callbacks run (#1863)
  newsfragments/1848.change.rst
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs

fix: Do not crash when Werkzeug accepts a cookie name rejected by SimpleCookie (#1861)
  newsfragments/1841.change.rst
  tests/test_requests_mock_flask.py
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs

fix: Preserve custom HTTP reason phrases from Flask responses (#1843)
  newsfragments/1843.change.rst
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs

fix: Forward missing-trailing-slash requests for Flask redirects (#1835)
  newsfragments/1835.change.rst
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs

Wrap slash redirect condition
  src/requests_mock_flask/__init__.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Cover trailing slash route response
  newsfragments/1835.change.rst
  tests/test_requests_mock_flask.py
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs

Integrate slash redirect matching
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Fix callback comment spelling
  src/requests_mock_flask/__init__.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

fix: Forward missing-trailing-slash requests for Flask redirects (#1857)
  newsfragments/1835.change.rst
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs

Handle nonstandard HTTPretty statuses
  newsfragments/1844.change.rst
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs

Type HTTPretty status table without casts
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Name HTTPretty fixture for linters
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Stabilize HTTPretty status typing
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

fix: address CI feedback
  newsfragments/1845.change.rst
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs

fix: Use Flask converter constraints when deciding which URLs to intercept (#1845)
  newsfragments/1845.change.rst
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs

Keep non-isolating converter test explicit
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Cover hostless base URL matching
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Format host matching tests
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

fix: Respect host-constrained Flask rules when registering URLs (#1846)
  newsfragments/1846.change.rst
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs

Respect Werkzeug host converter constraints
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Complete hostless route test coverage
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Cover converted host route callback
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Test hostless URL through public API
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Escape literal URL components
  newsfragments/1828.change.rst
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs

Use spellchecker-approved terminology
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Fix release note spelling
  newsfragments/1828.change.rst
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs

Keep host converter tests type-safe
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

fix: Escape literal URL components when registering Flask routes (#1855)
  newsfragments/1828.change.rst
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs

fix: Normalize case-insensitive URL components in base_url (#1860)
  newsfragments/1838.change.rst
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs

fix: Use Flask converter constraints when deciding which URLs to intercept (#1870)
  newsfragments/1845.change.rst
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs

fix: Respect host-constrained Flask rules when registering URLs (#1869)
  newsfragments/1846.change.rst
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs

fix: Prevent HTTPretty crashes for nonstandard Flask status codes (#1873)
  newsfragments/1844.change.rst
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs

fix: Support iterable streaming request bodies with requests backends (#1842)
  newsfragments/1842.change.rst
  src/requests_mock_flask/__init__.py
  tests/test_requests_mock_flask.py
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs
