Repository adamtheturtle/requests-mock-flask: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyproject-fmt-fix

actionlint:
  name: actionlint
  entry: actionlint
  language: python
  pass_filenames: false

shellcheck-docs:
  name: shellcheck-docs
  entry: doccmd --language=shell --language=console --command="shellcheck --shell=bash --exclude=SC1017"
  language: python

shfmt-docs:
  name: shfmt-docs
  entry: doccmd --language=shell --language=console --skip-marker=shfmt --no-pad-file --command="shfmt --write --space-redirects --indent=4"
  language: python

mypy:
  name: mypy
  stages:
  - pre-push
  entry: python -m mypy .
  language: python
  pass_filenames: false

mypy-docs:
  name: mypy-docs
  stages:
  - pre-push
  entry: doccmd --language=python --command="mypy"
  language: python

pyright:
  name: pyright
  stages:
  - pre-push
  entry: python -m pyright .
  language: python
  pass_filenames: false

pyright-docs:
  name: pyright-docs
  stages:
  - pre-push
  entry: doccmd --language=python --command="pyright"
  language: python

vulture:
  name: vulture
  entry: python -m vulture .
  language: python
  pass_filenames: false

vulture-docs:
  name: vulture docs
  entry: doccmd --language=python --command="vulture"
  language: python
  pass_filenames: false

pyroma:
  name: pyroma
  entry: python -m pyroma --min 10 .
  language: python
  pass_filenames: false

ruff-check-fix:
  name: Ruff check fix
  entry: python -m ruff check --fix
  language: python

ruff-check-fix-docs:
  name: Ruff check fix docs
  entry: doccmd --language=python --command="ruff check --fix"
  language: python

ruff-format-fix:
  name: Ruff format
  entry: python -m ruff format
  language: python

ruff-format-fix-docs:
  name: Ruff format docs
  entry: doccmd --language=python --no-pad-file --command="ruff format"
  language: python

doc8:
  name: doc8
  entry: python -m doc8
  language: python

interrogate:
  name: interrogate
  entry: python -m interrogate
  language: python

interrogate-docs:
  name: interrogate docs
  entry: doccmd --language=python --command="interrogate"
  language: python

pyproject-fmt-fix:
  name: pyproject-fmt
  entry: pyproject-fmt
  language: python

Remove unnecessary comment
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Start tidying
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Simplify docstring
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Better method name
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Remove del
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Remove double test
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Skip httpretty in test_multiple_variables_rejects_extra_segments
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Fix documentation
  tests/test_requests_mock_flask.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Bump CHANGELOG
  CHANGELOG.rst
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs

Update doccmd version in pyproject.toml
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Use bash shell for Lint step to ensure early failure
  .github/workflows/ci.yml
Due: actionlint

Use bash shell for Lint step to ensure early failure (#1565)
  .github/workflows/ci.yml
Due: actionlint

Update sybil-extras version to 2026.1.22
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Replace docformatter with pydocstringformatter
  .pre-commit-config.yaml
  conftest.py
  docs/source/__init__.py
  docs/source/conf.py
  pyproject.toml
  src/requests_mock_flask/__init__.py
  tests/__init__.py
  tests/test_requests_mock_flask.py
  tests/test_usage_patterns.py
Due: actionlint, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix

Replace docformatter with pydocstringformatter (#1568)
  .pre-commit-config.yaml
  conftest.py
  docs/source/__init__.py
  docs/source/conf.py
  pyproject.toml
  src/requests_mock_flask/__init__.py
  tests/__init__.py
  tests/test_requests_mock_flask.py
  tests/test_usage_patterns.py
Due: actionlint, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix

Remove --example-workers 0 due to mypy bug (#1569)
  .pre-commit-config.yaml
Due: actionlint

Remove --example-workers 0 only from mypy-docs hook
  .pre-commit-config.yaml
Due: actionlint

Add comment explaining why --example-workers 0 is not used for mypy-docs
  .pre-commit-config.yaml
Due: actionlint

Fix: Remove --example-workers 0 only from mypy-docs (#1570)
  .pre-commit-config.yaml
Due: actionlint

Support Python 3.14
  .github/workflows/ci.yml
  pyproject.toml
Due: actionlint, mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Support Python 3.14 (#1573)
  .github/workflows/ci.yml
  pyproject.toml
Due: actionlint, mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Update doccmd version to 2026.1.27.4
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Fix ShellCommandEvaluator API change in sybil-extras 2026.1.27
  conftest.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Fix pylint spelling warning in docstring
  conftest.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, interrogate

Add ty error-on-warning and disable type: ignore support
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Apply pyproject-fmt formatting changes
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Remove sybil-extras dependency
  README.rst
  conftest.py
  docs/source/index.rst
  pyproject.toml
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyproject-fmt-fix

Undo pyproject.toml diff
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Remove unnecessary dependency
  README.rst
  docs/source/index.rst
  pyproject.toml
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyroma, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix

Remove sybil-extras dependency (#1585)
  README.rst
  conftest.py
  docs/source/index.rst
  pyproject.toml
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyproject-fmt-fix

Work around toml-fmt array comment bugs
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Bump pyproject-fmt to 2.14.0 and apply formatting
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Bump pyproject-fmt to 2.14.0 (#1590)
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Bump pyproject-fmt to 2.14.2
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Bump pyproject-fmt to 2.14.2 (#1591)
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Update pyproject-fmt to 2.15.2
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Update pyproject-fmt to 2.15.2 (#1595)
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Matrix lint workflow by hook stage
  .github/workflows/ci.yml
Due: actionlint

Matrix lint workflow by hook stage (#1601)
  .github/workflows/ci.yml
Due: actionlint

Path conditions:
  actionlint: any of: \.(yaml|yml)$
  shellcheck-docs: any of: \.(md|markdown|mdown)$, \.rst$
  shfmt-docs: any of: \.(md|markdown|mdown)$, \.rst$
  mypy: any of: \.py$, \.toml$
  mypy-docs: any of: \.(md|markdown|mdown)$, \.rst$, \.py$, \.toml$
  pyright: any of: \.py$, \.toml$
  pyright-docs: any of: \.(md|markdown|mdown)$, \.rst$, \.py$, \.toml$
  vulture: any of: \.py$
  vulture-docs: any of: \.py$
  pyroma: any of: \.toml$
  ruff-check-fix: any of: \.py$
  ruff-check-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-format-fix: any of: \.py$
  ruff-format-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  doc8: any of: \.rst$
  interrogate: any of: \.py$
  interrogate-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$
